@use 'color-variables';

@use 'base';

.container{
    margin-top: 50px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    column-gap: 20px;

    h2{
        color: color-variables.$color-h2-blue;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.2px;
        line-height: 1.17;
        margin-bottom: 13px;
        text-transform: uppercase; 
    }

    .naujienos-container{
        margin-bottom: 60px;
        h1{}
        .articles-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-bottom: 30px;
        }
        .postcard-container{
            background-color: color-variables.$color-white;
            .news-image{
                img{
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                }
            }
            .inside-content{
                padding: 38px;
                h2{
                    color: color-variables.$color-h2-blue;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 12px;
                    letter-spacing: 1.2px;
                    line-height: 1.17;
                    margin-bottom: 13px;
                }
                h3{
                    font-family: Bw Nista Int, Arial, sans-serif;
                    font-size: 24px;
                    line-height: 1.17;
                    margin-bottom: 11px;}
                .date-of-publication{}
            }
        }
        .articles-container-lower-part{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            margin-bottom: 20px;

            .postcard-lower-container{
                display: grid;
                grid-template-columns: 120px 1fr;
                grid-template-rows: repeat(3, 0.1fr);
                gap: 10px;
                .lower-news-image{
                    grid-row-end: span 3;
                    img{
                        width: 100%;
                        height: 80px;
                        object-fit: cover;
                    }
                }
                h2{
                    margin-top: 0;
                }
                h3{
                    margin-top: 0;
                    font-size: 14px;
                    line-height: 1.5;
                }
                .date-of-publication{}
            }
        }
        .visos-naujienos-button{
            display: block;
            background-color: color-variables.$color-white;
            border-radius: 8px;
            padding: 20px;
            justify-content: center;
            margin-right: auto;
            margin-left: auto;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            color: color-variables.$color-black;
            font-size: 24px;
            position: relative;
            margin-bottom: 50px;

            &::before{}
            &::after{
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='33'%3E%3Cpath d='M2.535 32.526.033 30.024l13.76-13.761L.034 2.502 2.535-.001 18.8 16.263z' fill-rule='evenodd'/%3E%3C/svg%3E");
                background-position: 50%;
                background-repeat: no-repeat;
                content: "";
                display: block;
                height: 33px;
                position: absolute;
                right: 40px;
                top: 50%;
                transform: translateY(-50%);
                width: 19px;
            }

        }
        .container-vaizdo-irasai{
            span{
                font-size: 42px;
                font-weight: 700;
                letter-spacing: 1.2px;
                line-height: 1.17;
                margin-bottom: 25px;
            }
            .latest-videos{
                display: grid;
                grid-template-columns: 385px 385px;
                grid-template-rows: 216px 216px;
                margin-bottom: 50px;
                iframe{
                        
                    &:nth-child(1){
                        width: 770px;
                        height: 433px;
                        grid-row-end: span 2;
                        grid-column-end: span 2;
                    }
                }
                h2{

                    &:first-of-type{
                        font-family: Bw Nista Int, Arial, sans-serif;
                        font-size: 24px;
                        line-height: 1.17;
                        margin-bottom: 11px;
                        color: color-variables.$color-black;
                        grid-column-end: span 2
                    }

                    &:nth-of-type(2),
                    &:nth-of-type(3){
                        font-family: Bw Nista Int, Arial, sans-serif;
                        font-size: 14px;
                        line-height: 1.74;
                        margin-bottom: 11px;
                        color: #000;
                        text-transform: none;
                    }
                    
                }
                iframe{
                    
                    &:nth-of-type(2){
                        width: 370px;
                        height: 208px;
                    }
                    
                }
                iframe{

                    &:nth-of-type(3){
                        width: 370px;
                        height: 208px;
                    }
                    
                }
                //  h2{
                //      font-family: Bw Nista Int, Arial, sans-serif;
                //      font-size: 14px;
                //      line-height: 1.74;
                //      margin-bottom: 11px;
                //      color: #000;
                //      text-transform: none;
                //     }
                
            }
        }
        
    }
    .podcast-radio-show{
        .podcast-radio-show-header{
            font-size: 42px;
            font-weight: 700;
            letter-spacing: 1.2px;
            line-height: 1.17;
            margin-bottom: 25px;
        }
        .player-wrapper{
            display: grid;
            grid-template-columns: 70px 230px 70px;
            margin-bottom: 30px;
            .image-wrapper{
                img{
                    width: 70px;
                    height: 70px;
                    grid-column-end: span 1;
                }
            }
            .trukme-box{
                width: 230px;
                height: 70px;
                grid-column-end: span 1;
                background-color: color-variables.$color-black;
                color: color-variables.$color-white;
                text-align: center;
                align-content: center;

            }
            .play-button{
                width: 70px;
                height: 70px;
                grid-column-end: span 1;
                border: 2px solid black;
                a{}
                img{
                    width: 70px;
                    height: 70px;
                }
                audio{}
            }
            .podcast-heading{
                grid-column-end: span 3;
                background-color: color-variables.$color-white;
                h3{
                    margin-top: 0;
                }
            }
            .date-of-release{
                grid-column-end: span 3;
                background-color: color-variables.$color-white;
            }
        }
        .renginiai-wrapper{
            .podcast-radio-show-header{}
            .event-info{
                display: grid;
                margin-bottom: 50px;
                background-color: color-variables.$color-black;
                .image-wrapper{
                    img{
                        width: 370px;
                        height: 247px;
                        object-fit: cover;
                    }
                }
                .content-box{
                    
                    .event-date-box{
                        border-radius: 8px;
                        max-width: 70px;
                        text-align: center;
                        position: relative;
                        bottom: 35px;
                        left: 25px;
                        overflow: hidden;
                        .day{
                            background-color: color-variables.$color-white;
                            color: color-variables.$color-black;
                            font-family: Bw Gradual, Arial, sans-serif;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 1.2;
                            align-content: center;
                            padding: 5px;
                        }
                        .month{
                            background-color: color-variables.$color-pink;
                            color: color-variables.$color-white;
                            font-size: 10px;
                            letter-spacing: 1px;
                            line-height: 1.2;
                            padding: 4px;
                            text-transform: uppercase;
                        }
                    }
                    .date-of-release{
                        font-size: 10px;
                        letter-spacing: 1px;
                        line-height: 1.2;
                        margin-bottom: 3px;
                        margin-top: -15px;
                        text-transform: uppercase;
                        color: color-variables.$color-white;
                        background-color: color-variables.$color-black;
                    }
                    .podcast-heading{
                        h3{
                            font-family: Bw Nista Int, Arial, sans-serif;
                            font-size: 24px;
                            line-height: 1.33;
                            color: color-variables.$color-white;
                            background-color: color-variables.$color-black;
                        }
                    }
                }
            }
            
            
        }
        .visos-naujienos-button{
            display: block;
            background-color: color-variables.$color-white;
            border-radius: 8px;
            padding: 20px;
            justify-content: center;
            margin-right: auto;
            margin-left: auto;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            color: color-variables.$color-black;
            font-size: 24px;
            position: relative;
            margin-bottom: 50px;

        
            &::after{
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='33'%3E%3Cpath d='M2.535 32.526.033 30.024l13.76-13.761L.034 2.502 2.535-.001 18.8 16.263z' fill-rule='evenodd'/%3E%3C/svg%3E");
                background-position: 50%;
                background-repeat: no-repeat;
                content: "";
                display: block;
                height: 33px;
                position: absolute;
                right: 40px;
                top: 50%;
                transform: translateY(-50%);
                width: 19px;
            }
        }
        
    }
}    